.hidden{
	display:none;
}

.grey-checks{
	background-color:rgba(34, 34, 34,0.6);
	background-image: 
	-webkit-linear-gradient(rgba(120,120,120,.3) 1px, transparent 1px),
	-webkit-linear-gradient(0deg, rgba(120,120,120,.3) 1px, transparent 1px);
background-size: 10px 10px, 10px 10px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-repeat:repeat;
}